<div id="header" class="bg-ligth">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img class="logo" src="../../../../assets/img/logo.png" />
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <span *ngIf="haypais">
                <!--<span class="pointer" (click)="cambiaPais()">-->
                <i class="fas fa-globe-europe"></i>&nbsp;{{nombrepais}}
                <!--&nbsp;&nbsp;<i class="far fa-edit"></i>
                </span>-->
            </span>
        </div>
        <div class="col-sm-12 col-md-4 text-right">
            <span *ngIf="logged">
                <i class="far fa-user pointer"></i>&nbsp;{{user}}
                &nbsp;&nbsp;
                <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt" ></i></a>
            </span>
        </div>
    </div>
</div>